@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Josefin+Sans:wght@500&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Josefin+Sans:wght@500&family=Montserrat&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

body {
    margin:0px;
    height:100%;
    width:99%;
    background-color: #2B7A78;
}

#mainframe {
    border-radius: 15px;
    width:90%;
    margin-left:5%;
    background-color: #ffffff;
    height: 580px;
    border: 2px solid #17252A;
    outline: 2px solid #17252A;
}

#menuBar {
    height:25px;
    width:99%;
    background-color: #2B7A78 ;
    margin-top:5px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:2px;
}

#logo {
    font-style:italic;
    letter-spacing: 2px;
    color: #DEF2F1;
    margin-left: 5%;
    margin-top: -5px;
    text-align: top;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    text-shadow: #17252A 0px 4px;
}

#genButton {
    margin-left: 39%;
    width:150px;
    text-align:center;
    margin-top: -5px;
    letter-spacing: 2px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    text-shadow: #17252A 0px 4px;
    font-weight:bold;
    background-color: #2B7A78;
    color:#DEF2F1;
    border: none;
    height: 18px;
    font-size:18px;
    transition-duration: 0.15s;
}

#genButton:hover {
    letter-spacing: 4px;
    text-shadow: #17252A 0px 4px 4px;
}

#genButton:active {
    color:rgb(156, 156, 156);
}

#menuButton {
    width:100px;
    text-align:center;
    margin-top: -5px;
    margin-left:50px;
    letter-spacing: 2px;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    text-shadow: #17252A 0px 4px;
    font-weight:bold;
    background-color: #2B7A78;
    color:#DEF2F1;
    border: none;
    height: 18px;
    font-size:18px;
    transition-duration: 0.15s;
}

#menuButton:hover {
    letter-spacing: 4px;
    text-shadow: #17252A 0px 4px 4px;
}

#menuButton:active {
    color:rgb(156, 156, 156);
}

#startButton {
    width:100px;
    text-align:center;
    margin-top: -5px;
    letter-spacing: 2px;
    text-align:center;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    text-shadow: #17252A 0px 4px;
    font-weight:bold;
    background-color: #2B7A78;
    color:#DEF2F1;
    border: none;
    height: 18px;
    font-size:18px;
    transition-duration: 0.15s;
}

#startButton:hover {
    letter-spacing: 4px;
    text-shadow: #17252A 0px 4px 4px;
}

#startButton:active {
    color:rgb(156, 156, 156);
}

.dropdown-content {
    transition-duration: 0.1s;
    margin:0px;
    margin-top:-5px;
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    width:100%;
    height:100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

#innerMenu {
    background-color: #2B7A78;
    border-radius:15px;
    height: 600px;
    width: 500px;
    z-index: 2;
}

#closeButton {
    text-align:right;
    margin-right: 35px;
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    transition-duration: 0.1s;
    margin-bottom:5px;
}

#closeButton:hover {
    cursor: pointer;
    text-shadow: #ffffff 0px 0px 5px;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 99%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #17252A; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #17252A; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.generalText {
    color:white;
    font-family: 'Roboto', sans-serif;
    margin:0px;
    text-align:center;
}

.customBck {
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color:#17252A;
    padding:18px;
    border-radius: 10px;
    border:none;
    margin:0px;
    margin-top:10px;
    margin-left: 5px;
    width: 40px;
    height:18px;
    color:white;
}

#R {
    margin-left:25.5%;
}